.space-invaders-main {
    background-color: black;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    position: relative;
}

.space-invaders-tank {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    bottom: 0px;
    z-index: 0;
}

.space-invaders-missile {
    width: 5px;
    height: 20px;
    position: absolute;
    background-color: white;
}